.text{
    color: rgb(255, 131, 7);
    text-align: center;
    
    font-size: 30px;
    letter-spacing: 3px;
 
    
}

.horLine{
    width: 20%;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top : 20px;
}

.image{
    margin: 0 30px;
    width:450px;
    height:300px;
    border-radius: 30px;
}
.tooltip{
    cursor: pointer;
}
@media (max-width: 767px) {
    .image{
        width: 250px;
        height: 150px;
        border-radius: 8px;
    }
}