.wrapper{
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
    flex-wrap: wrap;
    
    
}
.languageContainer{
    margin: 20px;

}

.items{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 100px;
    height: 100px;
}
.items:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transform: scale(1.2);
}
.tooltip{
    
    
}
.text{
    color: rgba(8, 240, 0, 0.821);
    text-align: center;
    font-size: 30px;
    letter-spacing: 3px;
    
    
}

.horLine{
    width: 20%;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top : 20px;
}
